<li class="leder selected list-group-item" id="leder_{{ leder.ID }}" data-id="{{ leder.ID }}" data-type="{{ leder.type }}">
	<div class="header row">
		<div class="col-xs-12">
			<span class="type strong"></span>
			<span class="navn"></span>
			<span class="status float-right pull-right small"></span>
		</div>
	</div>

	<div class="data row">
		<div class="col-xs-12 col-md-6">
			<form class="leder_edit_form condensed">
				<div class="form-group">
					{% if leder.type == 'hoved' %}
						<p class="strong">Hovedleder</p>
						<input type="hidden" name="leder_type" class="leder_type" value="hoved"/>
					{% elseif leder.type == 'utstilling' %}
						<p class="strong">Reiseleder 2</p>
						<input type="hidden" name="leder_type" class="leder_type" value="utstilling"/>
					{% else %}
						<select class="leder_type form-control" name="leder_type">
							<option value="reise" {{ leder.type=='reise' ? 'selected="selected"' : '' }}>Reiseleder</option>
							<option value="ledsager" {{ leder.type=='ledsager' ? 'selected="selected"' : '' }}>Ledsager</option>
							<option value="turist" {{ leder.type=='turist' ? 'selected="selected"' : '' }}>Turist</option>
							<option value="sykerom" {{ leder.type=='sykerom' ? 'selected="selected"' : '' }}>Sykerom - andre hotell behov</option>
						</select>
						<div class="clearfix"></div>
					{% endif %}
				</div>

				<div class="form-group">
					<input name="leder_navn" class="leder_navn form-control input-lg" type="text" placeholder="Skriv navn" value="{{ leder.navn }}"/>
				</div>

				<div class="form-group">
					<input name="leder_mobil" class="leder_mobil form-control input-sm" type="tel" placeholder="Mobilnummer" value="{{ leder.mobilnummer is empty or leder.mobilnummer == 0 ? '' : leder.mobilnummer }}"/>
				</div>

				<div class="form-group">
					<input name="leder_epost" class="leder_epost form-control input-sm" type="email" placeholder="E-postadresse" value="{{ leder.epost is empty ? '' : leder.epost }}"/>
				</div>

				<div class="clearfix"></div>

				<div class="form-group">
					<button name="leder_save" type="button" class="leder_save btn btn-sm btn-ukm btn-success">Lagre</button>
					{% if leder.type != 'hoved' and leder.type != 'utstilling' %}
						<button name="leder_delete" type="button" class="leder_delete btn btn-ukm btn-sm btn-danger">Slett</button>
					{% endif %}
				</div>
			</form>
		</div>
		
		<div class="col-xs-12 col-md-6">
			<table class="overnattingssted table-condensed table-striped" style="width:99%">
				<thead>
					<tr>
						<th width="*%">Overnattingssted</th>
						{% if netterAntall > 0 %}
							{% for i in 0..netterAntall-1 %}
								<th width="40">
									{{ netterjs[i][1] }}
									<small>{{ netterjs[i][0] }}</small>
								</th>
							{% endfor %}
						{% else %}
							{% for dd in netter %}
								<th width="40">
									{{ dd|dato('D') }}
									<small>{{ dd|dato('d.m') }}</small>
								</th>
							{% endfor %}
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for sted_key, sted in overnattingssteder %}
						<tr class="{{ sted_key == 'hotell' ? 'only-hotell' : '' }}" style="{{ (leder.type == 'sykerom' or leder.type == 'turist') and sted_key != 'hotell' ? 'display: none' : '' }}" >
							<th>{{ sted }}</th>
							{% if netterAntall > 0 %}
								{% for i in 0..netterAntall-1 %}
									{% set natt = netterjs[i][2] %}
									<td width="40">
										<input type="radio" class="natt" data-dag="{{ natt|split('_')[0] }}" data-mnd="{{ natt|split('_')[1] }}" name="l{{ leder.ID }}_d{{ natt }}" value="{{ sted_key }}" {% if leder.netter[natt] is defined and leder.netter[natt].sted is defined and leder.netter[natt].sted == sted_key %} checked="checked" {% endif %}/>
									</td>
								{% endfor %}
							{% else %}
								{% for dato in netter %}
									{% set natt = dato|date('d_m') %}
									<td width="40">
										<input type="radio" class="natt" data-dag="{{ dato|date('d') }}" data-mnd="{{ dato|date('m') }}" name="l{{ leder.ID }}_d{{ natt }}" value="{{ sted_key }}" {% if leder.netter[natt] is defined and leder.netter[natt].sted is defined and leder.netter[natt].sted == sted_key %} checked="checked" {% endif %}/>
									</td>
								{% endfor %}
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearfix"></div>
</li>
