<h3 class="mt-5">
	Ansvarlig leder i {{ overnattingssteder['deltakere']|lower }}.
</h3>

<p>
	Velg én ansvarlig leder per natt i {{ overnattingssteder['deltakere']|lower }} som vil være kontaktperson for arrangøren, arrangørens nattevakter o.l.
</p>

<form id="hovedledere">
	<table class="table table-striped">
		{% for natt in netter %}
			<tr>
				<td>{{ natt|dato('l d.m') }}</td>
				<td>
					<select class="hovedleder" name="hovedleder-{{ natt|dato('d_m') }}">
						{% for leder in ledere %}
							<option value="{{ leder.l_id }}" class="hovedleder-{{ leder.l_id }}" {{ nattledere[ natt|dato('d_m') ] == leder.l_id ? 'selected="selected"' : ''}}>
								{{ leder.l_navn }} ({{ leder.type_nice }})
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endfor %}
	</table>
</form>

<div class="form-group">
	<button type="button" class="btn btn-success btn-sm" id="hovedleder_save">Lagre ansvarlig leder</button>
</div>