{% set baseLink = '?page='~ GET('page') ~'&til='~ GET('til')~'&action=' %}

<style>
    .UKM_tabs .dashicons {
        margin-left: -.5em;
        padding-right: 0;
    }
</style>
<div class="UKM_tabs UKM_tabs_5">
    {% if not til.getInformasjonstekst() is empty %}
        <a href="{{baseLink ~'informasjon'}}" {{ tab == 'informasjon' ? 'class="active"'}}>
            <div>
                <span class="tab_header">
                    <span class="dashicons dashicons-info"></span>
                    Informasjon
                </span>
                <span class="tab_description">Info om videresendingen</span>
            </div>
        </a>
    {% endif %}
	

    {# NOMINASJONER #}
    {% if til.getArrangement().harNominasjon() %}
        <a href="{{ baseLink }}nominasjon" {{ GET('page') == 'UKMnominasjon' or tab == 'nominasjon' ? 'class="active"' : ''}}>
            <div>
                <span class="tab_header">
                    <span class="dashicons dashicons-awards"></span>
                    Nominasjon
                </span>
                <br />
                <span class="tab_description">Endre nominasjoner</span>
            </div>
        </a>
    {% endif %}
    

    <a href="{{ baseLink }}videresendte" {{ tab == 'videresendte' ? 'class="active"' : ''}}>
        <div>
            <span class="tab_header">
                <span class="dashicons dashicons-groups"></span>
                Videresend
            </span>
            <br />
            <span class="tab_description">Velg deltakere</span>
        </div>
    </a>


    {# MEDIA #}
    <a href="{{ baseLink }}media" {{ tab == 'media' ? 'class="active"' : ''}}>
        <div>
            <span class="tab_header">
                <span class="dashicons dashicons-admin-media"></span>
                Media
                </span>
            <br />
            <span class="tab_description">Bilder, film og playback</span>
        </div>
    </a>

    <a href="{{ baseLink }}intoleranser" {{ tab == 'intoleranser' ? 'class="active"' : ''}}>
        <div>
            <span class="tab_header">
                <span class="dashicons dashicons-carrot" style="margin-right:0;"></span>
                Intoleranser
            </span>
            <span class="tab_description">Matallergi/-intoleranse</span>
        </div>
    </a>

    {# LEDERE #}
    {% if til.getArrangement().getMetaValue('harLederskjema') %}
        <a href="{{ baseLink }}ledere" {{ tab == 'ledere' ? 'class="active"' : ''}}>
            <div>
                <span class="tab_header">
                    <span class="dashicons dashicons-businesswoman"></span>
                    Ledere
                </span>
                <span class="tab_description">Ledere og overnatting</span>
            </div>
        </a>
    {% endif %}

    {% if til.getArrangement().harSkjema() and til.getArrangement().getSkjema().getSporsmal()|length > 0 %}
        <a href="{{ baseLink }}infoskjema" {{ tab == 'infoskjema' ? 'class="active"' : ''}}>
            <div>
                <span class="tab_header">
                    <span class="dashicons dashicons-forms"></span>
                    Infoskjema
                </span>
                <span class="tab_description">Spørsmål fra arrangøren</span>
            </div>
        </a>
    {% endif %}

    <a href="{{ baseLink }}oppsummering" {{ tab == 'oppsummering' ? 'class="active"' : ''}}>
        <div>
            <span class="tab_header">
                <span class="dashicons dashicons-clipboard"></span>
                Oppsummering
            </span>
            <span class="tab_description">Status kvote og statistikk</span>
        </div>
    </a>
</div>