{% extends "Layout/base.html.twig" %}

{% block content %}
    <fieldset>
        <legend>Kryss av de som skal nomineres til {{til.getNavn()}}</legend>

        <div class="row" style="max-width:97%">
            <div class="col-12 col-xs-12">
                <p>
                    Hvis den du skal nominere ikke ligger i riktig liste, 
                    må du først <a href="?page=UKMdeltakere">melde på personen i riktig kategori</a>.
                </p>
            </div>
        </div>

        {% if til.getArrangement().getNominasjonInformasjon()|length > 0 %}
            <div class="row">
                <div class="col-12 col-xs-12">
                    <div class="card mt-3 mb-5" style="max-width: 95%;">
                        {{ til.getArrangement().getNominasjonInformasjon()|raw|nl2br }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div id="nominerte" class="col-12 col-xs-12">
                {% for type in til.getArrangement().getInnslagTyper()|filter(type => type.kanHaNominasjon() and til.getArrangement().harNominasjonFor(type)) %}
                    <h3>{{ type.getNavn() }}</h3>
                    
                    <ol class="list-unstyled">
                        {% for innslag in fra.getInnslag().getAllByType(type) %}
                            {% set nominert = innslag.getNominasjoner().harTil(til.getId()) %}
                            {% set nominasjon = nominert ? innslag.getNominasjoner().getTil(til.getId()) : false %}
                            {% set person = innslag.getPersoner().getSingle() %}
                            
                            <li class="card nominert-header {{ nominasjon.erNominert() ? 'nominert' }}" id="nominert-header-{{ innslag.getId() }}" data-type="{{ type }}" data-id="{{ innslag.getId() }}" style="max-width:95%">
                                <a name="innslag_{{innslag.getId()}}"></a>
                                <div class="header">
                                    <div class="ikon">
                                        <input type="checkbox" class="nominasjonstatus" {{ nominasjon.erNominert() ? 'checked' }} />
                                    </div>
                                    <p>
                                        {{ innslag.getNavn() }}
                                    </p>
                                    {% if type.getKey() == 'konferansier' %}
                                        <div class="utfylt alert-success">
                                            Konferansierer har ikke deltakerskjema
                                        </div>
                                    {% else %}
                                        <div class="utfylt {{ nominasjon.harDeltakerskjema() ? 'alert-success' : 'alert-danger' }}">
                                            {{ person.getFornavn() }} {{ nominasjon.harDeltakerSkjema() ? 'har fylt' : 'må fylle' }} ut deltakerskjema.
                                        </div>
                                    {% endif %}
                                    <div class="utfylt {{ nominasjon.harVoksenskjema() ? 'alert-success' : 'alert-danger' }}">
                                        En voksen {{ nominasjon.harVoksenskjema() ? 'har fylt' : 'må fylle' }} ut skjema.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="nominert-data {{ nominasjon.erNominert() ? 'nominert' }}" id="nominert-data-{{ innslag.getId() }}" {{ not nominasjon.erNominert() ? 'style="display:none;"' }}>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-5">
                                        {#<h3 class="alert alert-error">Skjema for voksne er midlertidig deaktivert pga en feil</h3>#}
                                            <form action="?page={{GET('page')}}&til={{GET('til')}}&action={{GET('action')}}&id={{ innslag.getId() }}" method="POST">
                                                <h4>Den voksnes vurdering</h4>
                                                <p class="text-muted">
                                                    Hvis {{ person.getFornavn() }} skal nomineres som 
                                                    {% if type.getKey() == 'nettredaksjon' %}
                                                        arrangør/konferansier, og ikke media, 
                                                    {% elseif type.getKey() == 'arrangor' %}
                                                        media/konferansier, og ikke arrangør,
                                                    {% elseif type.getKey() == 'konferansier' %}
                                                        arrangør/media, og ikke konferansier,
                                                    {% endif %}
                                                    kan du ikke bruke dette skjemaet. Da må du fylle ut et 
                                                    {% if type.getKey() == 'nettredaksjon' %}
                                                        arrangør/konferansier-skjema.
                                                    {% elseif type.getKey() == 'arrangor' %}
                                                        media/konferansier-skjema.
                                                    {% elseif type.getKey() == 'konferansier' %}
                                                        arrangør/media-skjema.
                                                    {% endif %}
                                                    <br />
                                                    Finner du ikke {{ person.getFornavn() }} der? 
                                                    Da må {{ person.getKjonnspronomen() }} <a href="?page=UKMdeltakere">meldes på</a> først.
                                                </p>
                                                {% embed "Nominasjon/skjema_"~ ( type.getKey() == 'nettredaksjon' ? 'media' : type.getKey() ) ~".html.twig" %}{% endembed %}
                                                {% embed "Nominasjon/skjema_voksen.html.twig" %}{% endembed %}

                                                {% if type.getKey() != 'konferansier' %}
                                                    <div class="form-group" style="margin-bottom: 2em;">
                                                        <label>{{ person.getFornavn() }} sitt mobilnummer</label>
                                                        <input type="tel" name="deltaker-mobil" maxlength="8" value="{{ person.getMobil() }}" class="form-control" required />
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-submit btn-ukm btn-sm btn-success">Lagre</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-xs-12 col-lg-6 col-lg-offset-1">
                                            {% if type.getKey() == 'konferansier' %}
                                                {% embed "Nominasjon/vurdering_konferansier.html.twig" %}{% endembed %}
                                            {% elseif nominasjon.harDeltakerSkjema() %}
                                                <h4>{{ person.getFornavn() }} sin egenvurdering</h4>
                                                {% embed "Nominasjon/vurdering_"~ ( type == 'nettredaksjon' ? 'media' : type ) ~".html.twig" %}{% endembed %}
                                            {% else %}
                                                <h4>{{ person.getFornavn() }} har ikke levert sin egenvurdering</h4>
                                                <p>
                                                    Når du har lagret din vurdering, må du sende nominasjons-lenke på sms til {{person.getFornavn()}},
                                                    så {{person.getKjonnspronomen()}} får fylt ut sin del av skjemaet.
                                                </p>
                                                
                                                <p>
                                                    <a href="#" class="nominasjon-sms-purring btn btn-ukm btn-sm" data-tel="{{ person.getMobil() }}">
                                                        Send nominasjons-lenke til {{ person.getFornavn() }}
                                                    </a>
                                                </p>
                                                <p class="small">
                                                    Dette tar deg til SMS-funksjonen, hvor du kan tilpasse meldingen før du sender den.
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% else %}
                            <li>
                                Ingen deltakere er påmeldt som {{ navn }}
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p class="text-danger">{{ til.getNavn() }} har ingen deltakerkategorier som skal nomineres</p>
                {% endfor %}
            </div>
        </div>
    </fieldset>
        <form action="?page=UKMSMS_gui" method="POST" id="nominasjon-reminder">
        {% if arrangement.getEierType() == 'land' %}
            <input type="hidden" name="UKMSMS_message" value="Hei! For å bli nominert til UKM-festivalen må du fylle ut nominasjonsskjema på https://ukm-festivalen.no/nominasjon i løpet av kort tid, for fristen går straks ut." />
        {% else %}
            <input type="hidden" name="UKMSMS_message" value="Hei! For å bli nominert må du fylle ut nominasjonsskjema på https://delta.ukm.no/nominasjon i løpet av kort tid, for fristen går straks ut." />
        {% endif %}
        <input type="hidden" name="UKMSMS_recipients" id="nominasjon-reminder-recipient" />
    </form>
{% endblock %}