<div style="width: 98%">
    <div class="pull-right">
        <a href="?page={{GET('page')}}&action=statistikk" class="btn btn-ukm btn-xs" style="margin-right:1em;">
            antall publikum / uregistrerte
        </a>
    </div>
	<h1>Videresending</h1>

    {% if not is_super_admin and not GET('showme') %}
        <p>Videresending 친pner 1. mars</p>
    {% else %}
        {% include "wp_modul.flashbag.html.twig" %}

        {# AVSENDER-ARRANGEMENT ER IKKE FERDIG #}
        {% if not fra.erFerdig() %}
            <p class="lead">
                N친r arrangementet ditt er ferdig, kan du videresende innslag og personer fra denne siden.
            </p>

            <h2>Informasjon om kvoter</h2>
            <ol class="list-group">
                {% for mottaker in fra.getVideresending().getMottakere() %}
                    {% embed "Informasjon/AvsenderInfo.html.twig" %}
                        {% block data %}
                            {% if mottaker.getInformasjonstekst() is empty %}
                                {{ mottaker.getNavn() }}
                                har ikke lagt inn informasjon om kvoter eller
                                andre regler for videresending.
                            {% else %}
                                {{ mottaker.getInformasjonstekst()|raw|nl2br }}
                            {% endif %}
                        {% endblock %}
                    {% endembed %}
                {% else %}
                    <li class="list-group-item text-danger">
                        Kontakt
                        <a href="mailto:support@ukm.no?subject=Feil i videresending">UKM Norge</a>,
                        da noe er feil satt opp med videresendingen fra ditt arrangement.
                    </li>
                {% endfor %}
            </ol>
        
        {# AVSENDER-ARRANGEMENT HAR IKKE OPPGITT ANTALL PUBLIKUMMERE #}
        {% elseif fra.getPublikum() == 0 %}
            <p class="lead">
                F칮r du kan videresende m친 du oppgi hvor mange publikummere og eventuelt
                uregistrerte deltakere p친 arrangementet.
            </p>

            {% embed "Statistikk/Skjema.html.twig" %}
                {% block pre_submit %}
                    <p class="mt-3" style="max-width: 550px;">
                        Trenger du 친 endre dette senere, trykker du p친 knappen "statistikk" 
                        oppe til h칮yre p친 videresending-forsiden.
                    </p>
                {% endblock %}
            {% endembed %}
        
        {# DET ER INGEN ARRANGEMENT 칀 VIDERESENDE TIL #}
        {% elseif not fra.getVideresending().harMottakere() %}
            <p class="lead">Vi finner ingen som sier du kan videresende til de 游</p>

            <p>
                Ta kontakt med de du 칮nsker 친 videresende til, og si at de m친 redigere
                arrangementet sitt, og krysse av for at dere kan videresende til de.
            </p>
            <p>
                Hvis noen av dere lurer p친 hvordan dette gj칮res, er det bare 친 sende en e-post til
                <a href="mailto:support@ukm.no">support@ukm.no</a>, s친 hjelper vi dere med 친 sette det opp.
            </p>
        
        {# VELG HVILKET ARRANGEMENT 칀 VIDERESENDE TIL #}
        {% else %}
            <p>
                For 친 fullf칮re videresendingen m친 du innom alle faner (videresendte, media osv) og fylle ut alle felt. 
                <br />
                Etter fristen kan du ajourf칮re media og detaljer p친 videresendingen, 
                men det vil ikke v칝re mulig 친 endre p친 hvilke innslag som er videresendt.
            </p>
            
            {% if fra.getType() == 'fylke' %}
                {% include "Informasjon/nasjonalt.html.twig" %}
            {% endif %}


            <ol class="list-group">
                {% for mottaker in fra.getVideresending().getMottakere() %}
                    {% embed "Informasjon/AvsenderInfo.html.twig" %}
                        {% block data %}
                            {% if not mottaker.getArrangement().erRegistrert() %}
                                Arrangementet er ikke registrert, og videresending er derfor ikke mulig. Ta kontakt med arrang칮ren.
                            {% else %}
                                {% if fra.getVideresendte(mottaker.getId()).getAntall() > 0 %}
                                    Du har videresendt {{ fra.getVideresendte(mottaker.getId()).getAntall() }} innslag til {{ mottaker.getNavn() }}.
                                {% else %}
                                    Du har ikke videresendt innslag til {{ mottaker.getNavn() }}.
                                {% endif %}
                                <br />
                                {% if not mottaker.getInformasjonstekst() is empty %}
                                    <a href="?page={{GET('page')}}&til={{mottaker.getId()}}&action=informasjon" class="btn btn-ukm btn-primary btn-xs">Kvoter og informasjon</a>
                                {% endif %}
                                <a href="?page={{GET('page')}}&til={{mottaker.getId()}}&action=nominasjon" class="btn btn-ukm btn-primary btn-xs">Nominasjon</a>
                                <a href="?page={{GET('page')}}&til={{mottaker.getId()}}&action=videresendte" class="btn btn-ukm btn-primary btn-xs">{{ fra.getVideresendte(mottaker.getId()).getAntall() > 0 ? 'Endre' : 'Start' }} videresending</a>
                                {% if fra.getVideresendte(mottaker.getId()).getAntall() > 0 %}
                                    <a href="?page={{GET('page')}}&til={{mottaker.getId()}}&action=intoleranser" class="btn btn-ukm btn-primary btn-xs">Allergier og intoleranser</a>
                                {% endif %}
                            {% endif %}

                        {% endblock %}
                    {% endembed %}
                {% else %}
                    <li class="list-group-item text-danger">
                        Kontakt
                        <a href="mailto:support@ukm.no?subject=Feil i videresending">UKM Norge</a>,
                        da noe er feil satt opp med videresendingen fra ditt arrangement.
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    {% endif %}
</div>
