{% extends "Layout/base.html.twig" %}

{% block content %}
    {% if til.getArrangement().harVideresendingNominasjon() %}
    <div class="videresendte-deltakerinfo nosh-impt as-card-2 as-margin-bottom-space-3 as-padding-space-2">
        <h2 class="nom as-margin-bottom-space-2">Nominasjon påkrevd</h2>
        <section class="deltakerinfo-innlegg">
        <h4>Alle deltakere må nomineres før de kan videresendes til {{ til.getArrangement().getNavn() }}</h4>

        <h5>Nominasjon/godkjenning går gjennom følgende faser:</h5>
        <ul>
            <li>1. Nominasjon sendes til {{ til.getArrangement().getNavn() }}</li>
            <li>2. Når {{ til.getArrangement().getNavn() }} har godkjent at prosess med videresending kan starte, får de nominerte deltakerne tilsendt skjema og oppgaver som må besvares</li>
            <li>3. Deltakerne fyller ut skjema og oppgaver (både du og festivalarrangøren får automatisk beskjed om status på dette)</li>
            <li>4. Du bekrefter at alt er ferdig og riktig</li>
            <li>5. {{ til.getArrangement().getNavn() }} godkjenner videresendingen</li>
        </ul>

        <h5><strong>⚠️ Viktig:</strong></h5>
        <p>
            Ingen deltakere er sendt videre til {{ til.getArrangement().getNavn() }} før de er godkjent.
        </p>
        </section>
    </div>
    {% endif %}

	<fieldset>
        {% if til.getArrangement().harVideresendingNominasjon() %}
        <legend>
            Nominer deltakere for videresending til {{ til.getArrangement().getNavn() }}
        </legend>
        {% else %}
        <legend>
            Videresend deltakere til {{ til.getArrangement().getNavn() }}
        </legend>
        {% endif %}
        

        {#	
            <div class="alert alert-warning">
                <strong>OBS:</strong>
                Hvis du opplever problemer med å videresende, kan det være for at du bruker en utdatert nettleser.
                <br />
                Bruker du Internet Explorer vet vi at det kan oppstå problemer med videresending.
                Vi anbefaler at du bruker 
                <a href="https://www.google.com/chrome/browser/" target="_blank">Google Chrome</a>
                eller
                <a href="https://www.mozilla.org/nb-NO/firefox/" target="_blank">Mozilla Firefox</a>.
            </div>
        #}

        {# VIDERESENDING IKKE MULIG DA ARRANGEMENTET IKKE ER REGISTRERT #}
        {% if not til.getArrangement().erRegistrert() %}
            <p class="alert alert-error alert-danger">
                Arrangementet er ikke registrert, og videresending er derfor ikke mulig. Ta kontakt med arrangøren.
            </p>

        {# VIDERESENDING HAR IKKE ÅPNET #}
        {% elseif date( til.getArrangement().getVideresendingApner() ) > date() %}
            <p class="alert alert-warning">
                <strong>
                    Videresendingen har ikke åpnet. Du kan videresende fra
                    {{ til.getArrangement().getVideresendingApner()|dato('j.M') ~' kl. '~ til.getArrangement().getVideresendingApner()|dato('H:i') }} 
                    til
                    {{ til.getArrangement().getVideresendingStenger()|dato('j.M') ~' kl. '~ til.getArrangement().getVideresendingStenger()|dato('H:i') }}. 
                </strong>

        {# VIDERESENDINGEN ER STENGT #}
        {% elseif not til.getArrangement().erVideresendingApen() %}
            <p class="alert alert-error alert-danger">
                <strong>
                    Videresending er kun mulig fra
                    {{ til.getArrangement().getVideresendingApner()|dato('j.M') ~' kl. '~ til.getArrangement().getVideresendingApner()|dato('H:i') }} 
                    til
                    {{ til.getArrangement().getVideresendingStenger()|dato('j.M') ~' kl. '~ til.getArrangement().getVideresendingStenger()|dato('H:i') }}. 
                </strong>
                <br />
                Du kan ikke endre hvem som skal videresendes, men fortsatt ajourføre 
                <a href="?page=UKMVideresending&action=media">bilder, filmer og mediefiler</a>
                eller
                <a href="?page=UKMdeltakere">informasjon (fra menyen "påmeldte")</a> om deltakerne.
            </p>

        {# VIDERESENDING ER MULIG #}
        {% else %}
            <p>
                Listen viser kun innslag fra de kategoriene {{ til.getArrangement().getNavn() }} tar i mot.
            </p>
            <div class="row">
                {% for type_innslag in til.getArrangement().getInnslagTyper(true) %}
                    <div class="innslagBlock col-xs-12">
                        <div class="innslagTypeHeader">
                            <img src="{{ type_innslag.getIcon() }}" height="45" />
                            <h3>
                                {{ type_innslag }}
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        
                        <ol class="list-group innslag_lister" id="innslag_liste_{{ type_innslag.getKey() }}">
                            {# VIDERESENDING TIL FYLKE - GRUPPER PER FYLKE I TILFELLE LOKALMØNSTRING OVER FYLKESGRENSER #}
                            {% for innslag in fra.getInnslag().getAllByType( type_innslag ) %}
                                {% if til.getArrangement().harVideresendingNominasjon() %}
                                    {% embed "Videresendte/InnslagNominasjon.html.twig" %}{% endembed %}
                                {% else %}
                                    {% embed "Videresendte/Innslag.html.twig" %}{% endembed %}
                                {% endif %}
                            {% else %}
                                <li class="list-group-item ingen-pameldte text-muted">Du har ingen påmeldte i {{ type_innslag|lower }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </fieldset>

    <style>
        .videresendte-deltakerinfo {
            width: fit-content;
            background: var(--as-color-primary-warning-light);
            border: 2px solid var(--as-color-primary-warning-medium);
        }
        .deltakerinfo-innlegg ul {
            list-style-type: disc;
            margin-left: 20px;
        }
    </style>
{% endblock %}