{# Støtter kun request videresending til UKM-festivalen #}
{% if fra.getType == 'fylke' %}
<form method="POST" action="?page={{GET('page')}}&action=sendVideresendingRequest">
    <input type="hidden" name="arrangement_fra" value="{{ fra.getId() }}" />
    <input type="hidden" name="arrangement_til" value="{{ UKMFestivalen.getId() }}" />
    <h4 class="title-request-videresending">Du kan også sende forespørsel til arrangementene under</h4>
    <div class="col-12 col-sm-12 nop">
        <ol class="list-group">
            <li class="list-group-item">
                <div class="kan-sendes-alle">
                    <h5 class="kan-sendes">
                        {{ UKMFestivalen.getNavn() }}
                    </h5>
                    <div class="label-request">
                        {% if requestSendt %}
                            <span class="label label-success">Forespørsel sendt</span>
                        {% else %}
                            <button type="submit" {{ requestSendt ? 'disabled' : '' }} class="btn btn-primary btn-outline">Be om å åpne videresending</button>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ol>
    </div>
</form>
{% endif %}

{% block css %}
	<style>
        .nop {
            padding: 0;
        }
        .kan-sendes-alle {
            display: flex;
        }
        .kan-sendes-alle .btn {
            margin: auto;
            margin-right: 0;
        }
        .kan-sendes-alle .label-request {
            margin: auto;
            margin-right: 0;
        }
        .title-request-videresending {
            margin-top: 40px;
        }
	</style>
{% endblock %}
