{% extends "Layout/base.html.twig" %}


{% block content %}
	<div style="width:95%">
		<div class="alert alert-danger">
			<h3>Oversikten stemmer ikke!</h3>
			<p>Dette er en BETA-utgave av ny videresending, og vi vet det finnes feil i denne oppsumeringen. Problemet blir rettet før lansering</p>
		</div>
		{% for monstring in til %}
			{% set geo_id = monstring.getType() == 'fylke' ? monstring.getFylke().getId() : 0  %}
			<h3>Videresending til {{ monstring.getNavn() }}</h3>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Du har videresendt</th>
						{% if site_type == 'fylke' %}
							<th>Kvoten er</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for kvote in kvoter %}
						{% if kvote.id == 'scene_varighet' %}
							<tr class="{% if site_type == fylke and videresendt[ geo_id ].scene_varighet > kvote.verdi*60 %}alert alert-danger{% endif %}">
								<th>{{kvote.tittel}}</th>
								<td>{{videresendt[ geo_id ].scene_tid|varighet}}</td>
								{% if site_type == 'fylke' %}
									<td>
										{{kvote.verdi}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}
										{% if kvote.kommentar is defined and kvote.kommentar is not empty %}
											<br /><small><em>{{ kvote.kommentar }}</em></small>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% elseif kvote.id == 'film_varighet' %}
							<tr class="{% if site_type == fylke and videresendt[ geo_id ].film_varighet > kvote.verdi*60 %}alert alert-danger{% endif %}">
								<th>{{kvote.tittel}}</th>
								<td>{{videresendt[ geo_id ].film_tid|varighet}}</td>
								{% if site_type == 'fylke' %}
									<td>
											{{kvote.verdi}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}
										{% if kvote.kommentar is defined and kvote.kommentar is not empty %}
											<br /><small><em>{{ kvote.kommentar }}</em></small>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% else %}
							<tr class="{% if site_type == fylke and videresendt[ geo_id ][kvote.id] > kvote.verdi and kvote.verdi != 'nomineres' %}alert alert-danger{% endif %}">
								<th>{{kvote.tittel}}</th>
								<td>{{videresendt[ geo_id ][kvote.id]}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}</td>
								{% if site_type == 'fylke' %}
									<td>
									{% if kvote.verdi == 'nomineres' %}
										<strong>Nomineres</strong>
									{% else %}
										{{kvote.verdi}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}
									{% endif %}
									
									{% if kvote.kommentar is defined and kvote.kommentar is not empty %}
										<br /><small><em>{{ kvote.kommentar }}</em></small>
									{% endif %}
									</td>
								{% endif %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}
		
		<h3>Statistikk</h3>
		{% embed "Statistikk/skjema.html.twig" %}{% endembed %}
	</div>
{% endblock %}