			<h3>Videresending til {{ monstring.getNavn() }}</h3>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Du har videresendt</th>
						{% if site_type == 'fylke' %}
							<th>Kvoten er</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for kvote in kvoter %}
						{% if kvote.id == 'scene_varighet' %}
							<tr class="{% if site_type == fylke and videresendt[ geo_id ].scene_varighet > kvote.verdi*60 %}alert alert-danger{% endif %}">
								<th>{{kvote.tittel}}</th>
								<td>{{videresendt[ geo_id ].scene_tid|varighet}}</td>
								{% if site_type == 'fylke' %}
									<td>
										{{kvote.verdi}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}
										{% if kvote.kommentar is defined and kvote.kommentar is not empty %}
											<br /><small><em>{{ kvote.kommentar }}</em></small>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% elseif kvote.id == 'film_varighet' %}
							<tr class="{% if site_type == fylke and videresendt[ geo_id ].film_varighet > kvote.verdi*60 %}alert alert-danger{% endif %}">
								<th>{{kvote.tittel}}</th>
								<td>{{videresendt[ geo_id ].film_tid|varighet}}</td>
								{% if site_type == 'fylke' %}
									<td>
											{{kvote.verdi}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}
										{% if kvote.kommentar is defined and kvote.kommentar is not empty %}
											<br /><small><em>{{ kvote.kommentar }}</em></small>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% else %}
							<tr class="{% if site_type == fylke and videresendt[ geo_id ][kvote.id] > kvote.verdi and kvote.verdi != 'nomineres' %}alert alert-danger{% endif %}">
								<th>{{kvote.tittel}}</th>
								<td>{{videresendt[ geo_id ][kvote.id]}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}</td>
								{% if site_type == 'fylke' %}
									<td>
									{% if kvote.verdi == 'nomineres' %}
										<strong>Nomineres</strong>
									{% else %}
										{{kvote.verdi}} {{kvote.enhet}}{{ kvote.verdi != 1 ? kvote.flertall : ''}}
									{% endif %}
									
									{% if kvote.kommentar is defined and kvote.kommentar is not empty %}
										<br /><small><em>{{ kvote.kommentar }}</em></small>
									{% endif %}
									</td>
								{% endif %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>